QMainWindow, QDialog, QMenu {
	background-color: qradialgradient(spread:reflect, cx:0.5, cy:0.5, radius:2, fx:0.5, fy:0.5, stop:0.204545 rgba(36, 36, 36, 255), stop:1 rgba(85, 170, 255, 255));
	background-color: rgb(10, 10, 10);
}
QLabel, QRadioButton, QCheckBox{
	color: rgb(240, 240, 240);
	font: 13pt "Times New Roman";
}
QLabel[accessibleName="LB-H1"]{
	font: bold 14pt "Cantarell";
}
QLabel[accessibleName="LB-H2"]{
	font: bold 10pt "Cantarell";
}
QLabel[accessibleName="LB-DRV"]{
	font: 8pt "Cantarell";
}
QLineEdit, QPlainTextEdit, QSpinBox, QDoubleSpinBox {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);

	/*border-top : 1px solid rgb(50,50,50);
	border-right : 1px solid rgb(50,50,50);*/

	border: 1px solid rgb(75,75,75);
	font: 15pt "David CLM";
	border-radius: 5px;
}

QLineEdit:hover, QPlainTextEdit:hover, QSpinBox:hover, QDoubleSpinBox:hover,
QLineEdit:focus, QPlainTextEdit:focus, QSpinBox:focus, QDoubleSpinBox:focus
{
    border: 3px solid qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(200, 200, 200, 255), stop:0.5 rgba(220, 210, 220, 255), stop:1 rgba(255, 255, 255, 255));
}

QTabBar::tab {
	border:1px solid rgba(25,25,25,75);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	min-width: 20ex;
	min-height: 7ex;
	padding:4px 6px;
	text-align: center;
	background-color: rgb(50, 50, 50);
	/*3D Tab and Menu Buttons*/
	background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(28, 28, 28, 255), stop:0.5 rgba(66, 66, 66, 255), stop:1 rgba(28, 28, 28, 255));
	color: rgb(255, 255, 255);

}
QTabBar {
    font: 13pt "Javanese Text";
}
QMenuBar {
	/*3D Tab and Menu Buttons*/
	background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(40, 45, 50, 255), stop:0.5 rgba(60, 65, 70, 255), stop:1 rgba(40, 45, 50, 255));
}
QMenuBar::item {
	/*3D Tab and Menu Buttons*/
	background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(40, 45, 50, 255), stop:0.5 rgba(60, 65, 70, 255), stop:1 rgba(40, 45, 50, 255));
	color: rgb(255, 255, 255);
	font: 10pt "Times New Roman";
}

QTabWidget::pane { /* The tab widget frame */
    margin-top: 10px;
    border-top: 3px solid #FFEEFF;
}


/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
				stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
				stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
				stop: 0 #fafafa, stop: 0.4 #f4f4f4,
				stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    margin-top: 5px; /* make non-selected tabs look smaller */
    font: 12pt "David CLM";
    color: black;
}
QTabBar::tab:selected{
	border-top-color: rgb(77, 154, 231);
	border-top-width: 2px;
	background-color: rgb(60, 60, 60);
	color: rgb(255, 255, 255);
}
QTabBar::tab:hover , QMenuBar::item:hover, QMenu::item:selected, QSplitter::handle:pressed, QMenuBar::item:pressed {
	/*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:1 rgba(255, 255, 255, 100));*/
	background-color:qlineargradient(x1:0,y1:0,x2:0,y2:1,stop:0 rgba(106,106,106,255),stop:1 rgba(106,106,106,75));
	background-color: rgb(77, 154, 231);
	color: rgb(255, 255, 255);
}
QMenu::item {
	background-color: rgb(70, 75, 80);
	padding: 4px 25px 4px 20px;
	color: rgb(255, 255, 255);
	font: 10pt "Times New Roman";
}

QMenuBar::item
{
    padding: 5px 20px;
    spacing: 5px;
    font: 10pt "David CLM";
}

QMenuBar::item:pressed
{
    font: 13pt "David CLM";
}

QComboBox
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    selection-background-color: #111;
    selection-color: yellow;
    color: white;
    background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(40, 45, 50, 255), stop:0.5 rgba(60, 65, 70, 255), stop:1 rgba(40, 45, 50, 255));
    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
    padding: 1px 0px 1px 20px;
}

QComboBox:hover
{
    border: 1px solid darkgray;
}

QComboBox:editable {
    background: red;
    color: pink;
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
    image: url(:/icons/images/arrow_up.png);
}

QComboBox:on
{
    padding-top: 0px;
    padding-left: 5px;
    color: white;
    border-radius: 10px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #ffaa00;
    subcontrol-image:
}

QComboBox:!on
{
padding-top: 0px;
padding-left: 5px;
border-radius: 10px;
    color: white;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #666, stop: 0.1 #555, stop: 0.5 #555, stop: 0.9 #444, stop: 1 #333);
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    color: black;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #111, stop: 1 #333);
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    color: white;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 10px;
}

QSpinBox::down-arrow
{
    image: url(:/icons/images/arrow_down.png);
}

QSpinBox::up-arrow
{
    image: url(:/icons/images/arrow_up.png);
}

QComboBox::down-arrow
{
     image: url(:/icons/images/arrow_down.png);
     width: 20px;
     height: 20px;
     padding-right: 10px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QSplitter::handle {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:1 rgba(255, 255, 255, 40));
	margin: 5px 1px;
}

QGroupBox{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:1 rgba(255, 255, 255, 20));
	color: rgb(255, 255, 255);
	font: 12pt "Cantarell";
	border-radius: 9px;
}
QGroupBox {
	border: 2px;
	margin-top: 1em;
	font: 11pt "Cantarell";
}
QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 2px;
}
QGroupBox[accessibleName="GB-BLACK"] {
	background-color: rgb(25, 25, 25);
}
QGroupBox[accessibleName="GB-BLUE"] {
	background-color: rgb(50, 55, 60);
}
QGroupBox[accessibleName="GB-BLACK-NT"]{
	background-color: rgb(25, 25, 25);
	margin-top: 0em;
}
QGroupBox[accessibleName="GB-BLUE-NT"] {
	background-color: rgb(50, 55, 60);
	margin-top: 0em;
}
QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0 3px 0 2px;
}

QPushButton{
	background-color: qconicalgradient(cx:0.5, cy:0.5, angle:181.3, stop:0 rgba(35, 112, 164, 255), stop:0.255682 rgba(15, 125, 200, 255), stop:0.414773 rgba(0, 131, 219, 255), stop:0.579545 rgba(15, 125, 200, 255), stop:1 rgba(35, 112, 164, 255));
	color: rgb(255, 255, 255);
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.506, y2:1, stop:0 rgba(169, 185, 201, 255), stop:0.5 rgba(245, 245, 245, 255), stop:1 rgba(144, 144, 144, 255));
	color:black;
	border-radius: 4;
	border-width: 0.5px;
	font: 13pt "Times New Roman";
	padding: 6px 20px;
}
QPushButton:pressed{
	background-color: qradialgradient(spread:reflect, cx:0.5, cy:0.5, radius:1.182, fx:0.5, fy:0.5, stop:0 rgba(32, 62, 82, 255), stop:0.539773 rgba(54, 174, 255, 255));
	background-color: qlineargradient(x1:0.5, y1:0, x2:0.5, y2:1,
	stop:0 rgb(162, 172, 192),
	stop:0.6 rgb(200,210,220),
	stop:1 rgb(162, 172, 192));
	border-radius: 4;
}
QPushButton:hover:!pressed {
	background-color: qconicalgradient(cx:0.5, cy:0.5, angle:53.1, stop:0 rgba(44, 145, 212, 255), stop:0.295455 rgba(70, 181, 255, 255), stop:0.630682 rgba(44, 145, 212, 255), stop:1 rgba(47, 146, 212, 255));
	background-color: qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.506, y2:1, stop:0 rgba(152, 176, 201, 255), stop:0.482955 rgba(245, 245, 245, 255), stop:0.869318 rgba(144, 144, 144, 255), stop:1 rgba(152, 176, 201, 255));
	border-radius: 4;
	border: 1.5px solid rgb(77, 154, 231);
}

QPushButton:focus
{
    border: 1.5px solid rgb(77, 154, 231);
    padding: 3px 9px;
}

QTableWidget,QTableView{
    background-color: rgb(75, 75, 75);
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    font: 10pt "Cantarell";
    gridline-color: grey;
    border: 1px solid grey;
}
QTableWidget::item,QTableView::item{
    padding-Left:3px;
    text-align: center;
    font: 13pt "David CLM";
}
QTableCornerButton::section {
    background-color: rgb(75, 75, 75);
}
QHeaderView::section {
    background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(40, 45, 50, 255), stop:0.5 rgba(60, 65, 70, 255), stop:1 rgba(40, 45, 50, 255));
    border: none;
    padding: 3px 3px;
    font: 13pt "David CLM";
    color: rgb(255, 255, 255);
    border : 1px solid grey;
    min-height:20px;
    min-width:70px;
}

QHeaderView::section:horizontal {
	border-right : 1px solid grey;
}
QHeaderView::section:vertical {
	border-bottom : 1px solid grey;
}

QListWidget{
    background-color: rgb(45, 45, 45);
    font: 11pt "Cantarell";
    border-radius:5px;
}
QListWidget::item{
    background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(28, 28, 28, 255), stop:0.5 rgba(66, 66, 66, 255), stop:1 rgba(28, 28, 28, 255));
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    border-radius:5px;border: 1px solid grey;
}
QListWidget::item:selected{
    background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(28, 28, 28, 255), stop:0.5 rgba(66, 66, 66, 255), stop:1 rgba(28, 28, 28, 255));
	background-color: qlineargradient(spread:reflect, x1:0.511, y1:0, x2:0.517, y2:1, stop:0 rgba(29, 75, 97, 255), stop:0.272727 rgba(50, 50, 50, 255), stop:0.5 rgba(66, 66, 66, 255), stop:0.738636 rgba(50, 50, 50, 255), stop:1 rgba(29, 75, 97, 255));
    border: 1px solid rgb(77, 154, 231);
    border-radius:5px;
	/*border: 1px solid black;*/
    color: rgb(255, 255, 255);
}
QListWidget::item:hover:!selected {
    background-color: rgb(77, 154, 231);
    color: rgb(255, 255, 255);
}

QScrollArea {
	background: transparent;
	border: none;
}
QScrollArea > QWidget > QWidget {
	background: transparent;
	background-color: rgb(50, 55, 60);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	background: transparent;
}
QScrollBar:vertical{
	background-color: rgb(50, 50, 50);
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	width:15px;
	margin:0px;
}
QScrollBar::handle:vertical{
	background-color:palette(alternate-base);
	border-radius:2px;
	min-height:20px;
	margin:2px 4px 2px 4px;
}
QScrollBar::handle:vertical:hover{
	background-color:palette(highlight);
}
QScrollBar::add-line:vertical{
	background-color: rgb(50, 50, 50);
	height:0px;
	subcontrol-position:right;
	subcontrol-origin:margin;
}
QScrollBar::sub-line:vertical{
	background-color: rgb(50, 50, 50);
	height:0px;
	subcontrol-position:left;
	subcontrol-origin:margin;
}
QScrollBar:horizontal{
	background-color: rgb(50, 50, 50);
	height:16px;
	margin:0px;
}
QScrollBar::handle:horizontal{
	background-color:palette(alternate-base);
	border-radius:2px;
	min-width:20px;
	margin:4px 2px 4px 2px;
}
QScrollBar::handle:horizontal:hover{
	background-color:palette(highlight);
}
QScrollBar::add-line:horizontal{
	background-color: rgb(50, 50, 50);
	width:0px;
	subcontrol-position:bottom;
	subcontrol-origin:margin;
}
QScrollBar::sub-line:horizontal{
	background-color: rgb(50, 50, 50);
	width:0px;
	subcontrol-position:top;
	subcontrol-origin:margin;
}

QProgressBar {
	border-radius: 3px;
	text-align: center;
}
QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}

QRadioButton::indicator{
	width:18px;
	height:18px;
}
QRadioButton::indicator:checked{
  image:url(:/images/images/icon_radiobutton_checked.png);
}
QRadioButton::indicator:checked:pressed{
  image:url(:/images/images/icon_radiobutton_checked_pressed.png);
}
QRadioButton::indicator:checked:disabled{
  image:url(:/images/images/icon_radiobutton_checked_disabled.png);
}
QRadioButton::indicator:unchecked{
  image:url(:/images/images/icon_radiobutton_unchecked.png);
}
QRadioButton::indicator:unchecked:pressed{
  image:url(:/images/images/icon_radiobutton_unchecked_pressed.png);
}
QRadioButton::indicator:unchecked:disabled{
  image:url(:/images/images/icon_radiobutton_unchecked_disabled.png);
}

QCheckBox::indicator{
  width:18px;
  height:18px;
}
QCheckBox::indicator:checked,QTreeView::indicator:checked,QTableView::indicator:checked,QGroupBox::indicator:checked{
  image:url(:/icons/images/ledgreen.png);
}
QCheckBox::indicator:checked:pressed,QTreeView::indicator:checked:pressed,QTableView::indicator:checked:pressed,QGroupBox::indicator:checked:pressed{
  image:url(:/icons/images/ledgrey.png);
}
QCheckBox::indicator:checked:disabled,QTreeView::indicator:checked:disabled,QTableView::indicator:checked:disabled,QGroupBox::indicator:checked:disabled{
  image:url(:/icons/images/ledgrey.png);
}
QCheckBox::indicator:unchecked,QTreeView::indicator:unchecked,QTableView::indicator:unchecked,QGroupBox::indicator:unchecked{
  image:url(:/icons/images/ledred.png);
}
QCheckBox::indicator:unchecked:pressed,QTreeView::indicator:unchecked:pressed,QTableView::indicator:unchecked:pressed,QGroupBox::indicator:unchecked:pressed{
  image:url(:/icons/images/ledgrey.png);
}
QCheckBox::indicator:unchecked:disabled,QTreeView::indicator:unchecked:disabled,QTableView::indicator:unchecked:disabled,QGroupBox::indicator:unchecked:disabled{
  image:url(:/icons/images/ledgrey.png);
}

QMenu::indicator:non-exclusive:unchecked {
    image: url(:/images/images/icon_checkbox_unchecked.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(:/images/images/icon_checkbox_unchecked_pressed.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(:/images/images/icon_checkbox_checked.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(:/images/images/icon_checkbox_checked_pressed.png);
}
QMenu::indicator{
  width:16px;
  height:16px;
}

QTableView::indicator:unchecked {
    image: url(:/images/images/icon_checkbox_unchecked.png);
}

QTableView::indicator:unchecked:selected {
    image: url(:/images/images/icon_checkbox_unchecked_pressed.png);
}

QTableView::indicator:checked {
    image: url(:/images/images/icon_checkbox_checked.png);
}

QTableView::indicator:checked:selected {
    image: url(:/images/images/icon_checkbox_checked_pressed.png);
}
QTableView::indicator{
  width:30px;
  height:30px;
}
